.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }

.all{   
    width: 80%;
    margin: 0 auto;
}

    .titleDiv{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

.titleDiv button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .center{
    text-align: center;
    width: 0px;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  
  .styled-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

    .styled-table tbody tr:hover {
        background-color: #aaaaaa;
    }
  
  .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .search-container {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content:center;
  }
  
  .search-container input[type=text] {
    padding: 10px;
    font-size: 16px;
  }
  
  .smaller-search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .search-input {
    width: 20%;
  }
  
  .dltBtn{
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .dltBtn:hover {
    background-color: #da190b;
  }
  
  .edtBtn{
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 3px;
  }
  
  .edtBtn:hover {
    background-color: #005f6b;
  }
  
  .addBtn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .addBtn:hover {
    background-color: #45a049;
  }

  .link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .link2{
    width: fit-content;
  }

  .link3{
    width: fit-content;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    width: 80px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .modal{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .modal-content input, .but {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  
  .modalTitle{
    display: flex;
    align-items: center;
    text-align: center;
  }

  .cars{
    justify-content: space-between;
  }

  .check{
    width: 20px;
    height: 20px;
  }
  
  .backBtn{
    margin-right:  20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
  }

  .navigation {
    width: fit-content;
    display: flex;
  }
  
  .navigationTitle {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
  }

  .navigationTitle.active {
    background-color: #4b4b4b;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    color: white;
  }
  

  .backBtn img{
    width:100%;
  }

@media (max-width: 721px) {
  :root{
    font-size: 10px;
  }

  .edtBtn, .dltBtn, .addBtn{
    font-size: 10px;
  }

  .all{
    width: 99%;
  }

  .search-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .titleDiv{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .backBtn{
    margin-right: 5px;
  }

  .search-input{
    width: 65%;
  }
}